.c-slider {
    &__slide {}
    &__nav {
        width: 100%;
        position: absolute;
        top: 0;
        left: 17rem;
        
    }
    &__transparent{
        position:absolute;
        z-index:0;
        opacity:0.4;
        width:40%;
    }
}