.u-underline {
    text-decoration: underline;
}

.u-relative {
    position: relative;
}

.u-mt-1 {
    margin-top:1rem;
}
/* class css que je peux appliquer n'importe où */

.u-mb-6{
    margin-bottom:6rem;
}

.u-mb-6{
    margin-bottom:6rem;
}